# Pythonのキャッシュ・仮想環境関連
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
include/
Lib/
Scripts/
share/
Tesseract-OCR/
memo/
tests/
training/
trimming/
pyvenv.cfg
imgui.ini
*.sqlite3

# テスト用コード
test.py
test_second.py
gui_widget/pie_chart.py

# キャプチャーデバイス取得時に自動生成される
device_raw.txt

#画像関連
assets/images/Scene Recognition/raw/

#バトルデータ関連
assets/data/raw/

#設定ファイル
assets/data/setting.json

# Jupyter Notebookのキャッシュ
.ipynb_checkpoints/

# IDE・エディタの設定ファイル
.vscode/
.idea/
*.swp

# ビルド・ログ関連
build/
dist/
*.log